* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
nav {
  color: #fff;
  background-color: black;
  padding: 3px;
}
nav > ul > li {
  display: inline;
  text-decoration: none;
  margin: 0px 10px;
}
.top-nav {
  text-align: right;
  font-size: 0.8em;
}
.logo-header {
  background-color: black;
  padding: 0px 50px;
}

.logo-header .search-container {
  float: right;
  padding: 20px 0px;
}

.logo-header input[type="text"] {
  padding: 10px;
  border: none;
  width: 400px;
  background-color: #444444;
  color: #d0cec8;
  font-size: 1.2em;
}

.logo-header .search-container button {
  float: right;
  font-size: 1.2em;
  padding: 10px;
  background: #4a94ae;
  color: white;
  border: none;
  cursor: pointer;
}

.mid-nav {
  text-align: center;
  background-color: #4a94ae;
  font-weight: bold;
}
.mid-nav > ul > li {
  margin: auto 30px;
}
.bottom-nav {
  text-align: center;
  background-color: #152930;
  padding: 10px;
}
.bottom-nav > ul > li {
  margin: auto 10px;
  font-size: 0.7em;
}
.bottom-nav > ul {
  margin: 0px;
}
.main {
  background-color: #333333;
  color: white;
  width: 100%;
  display: inline-block;
}
.main > aside {
  padding: 20px;
  float: right;
  width: 25%;
}
.accordion {
  background-color: #252525;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #4a94ae;
}

.accordion:after {
  content: "\002B";
  color: #fff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: #252525;
  color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.promo > button {
  background-color: #4a94ae;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
}
.promo > h3 {
  color: #4a94ae;
}
.content {
  background-color: white;
  color: #000;
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 100px;
  width: 70%;
  margin: 20px;
  margin-right: 0px;
  display: inline-block;
}
.content > h1 {
  color: #4a94ae;
}
.content > h2 {
  font-size: 1.7em;
}
.content > p {
  font-weight: bold;
}

.content > div > button {
  background-color: #4a94ae;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
}
